@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap/scss/bootstrap";

$header-height: 80px;
$footer-height: 50px;

$blue: #7ec8e3;
$secondary-blue: #7699D4;
$purple: #9448BC;
$light-purple: #c281e6;


